.worker-field-set {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  margin: 10px;
  padding: 10px;
  border: solid 3px blue;
  border-radius: 20px;
}

label {
  display: inline-block;
  width: 13.5vw;
}

.field input {
  width: 15vw;
  font-size: 1rem;
  border-radius: 15px;
  padding: 4px;
}

.field {
  display: inline-block;
  flex-direction: column;
  padding: 4px;
}

.control-button {
  font-size: 1.1rem;

  padding: 5px 10px;
  border: transparent;
  border-radius: 20px;
  margin: 5px 25%;
  width: 50%;
}

#remove-button {
  background-color: crimson;
}

#save-button {
  background-color: dodgerblue;
}

input[type="button"]:hover {
  cursor: pointer;
}

input[disabled] {
  border: transparent;
  color: black;
}
